@model IEnumerable<Ferroviario.Web.Data.Entities.RequestEntity>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (User.Identity.IsAuthenticated && User.IsInRole("User"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InitialDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FinishDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InitialDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinishDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        { <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                          <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }                         
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
