@model IEnumerable<Ferroviario.Web.Data.Entities.ShiftEntity>
@Html.Raw(TempData["msg"])


@{
    ViewData["Title"] = "Changes";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />

<h2>Look a shift</h2>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service.InitialHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service.InitialStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service.FinalHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service.FinalStation)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(g => g.Date))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateLocal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.InitialHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.InitialStation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.FinalHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.FinalStation)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="glyphicon glyphicon-trash"></i></a>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>
                    }
                    <a asp-action="CreateChange" asp-route-idShift="@item.Id">Change shift<i class="glyphicon glyphicon-send"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>
