@model IEnumerable<Ferroviario.Web.Data.Entities.ChangeEntity>

@{
    ViewData["Title"] = "SelectChanges";
}
<hr />

<h4>My Pending Changes</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstDriver)
            </th>
            <th>
                New Service
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstDriverService.Service.InitialHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstDriverService.Service.InitialStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstDriverService.Service.FinalHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstDriverService.Service.FinalStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.State == "Pending")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstDriver.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstDriverService.Service.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstDriverService.Service.InitialHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstDriverService.Service.InitialStation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstDriverService.Service.FinalHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstDriverService.Service.FinalStation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        <a asp-action="ConfirmChange" asp-route-id="@item.Id">Confirm Change<i class="glyphicon glyphicon-send"></i></a>
                    </td>

                </tr>
            }

        }
    </tbody>
</table>